<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Eaten</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Total Values</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <br>
      <p><strong>Total Protein:</strong> {{ totalProtein.toFixed(2) }} g</p>
      <p><strong>Total Calories:</strong> {{ totalCalories.toFixed(2) }} kcal</p>
      <p><strong>Total Carbohydrates:</strong> {{ totalCarbohydrates.toFixed(2) }} g</p>
      <p><strong>Total Fats:</strong> {{ totalFats.toFixed(2) }} g</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let history of storedData">
    <ion-card-content>
      <p>{{ history }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
