<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vyhledávání potraviny</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input [(ngModel)]="searchTerm" placeholder="Název potraviny"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="weight" type="number" placeholder="Váha v gramech"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="searchFood()"><b>Vyhledat</b></ion-button>


  <ion-card *ngFor="let food of foodInfo">
    <ion-card-header>
      Informace o potravině
    </ion-card-header>
    <ion-card-content>
      <p><strong>Název:</strong> {{ food.name }}</p>
      <p><strong>Velikost porce:</strong> {{ food.serving_size_g }} g</p>
      <p><strong>Kalorie:</strong> {{ food.calories }} kcal</p>
      <p><strong>Bílkoviny:</strong> {{ food.protein_g }} g</p>
      <p><strong>Sacharidy:</strong> {{ food.carbohydrates_total_g }} g</p>
      <p><strong>Tuky (celkem):</strong> {{ food.fat_total_g }} g</p>
    </ion-card-content>
  </ion-card>

</ion-content>
