<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vyhledávání potraviny</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input [(ngModel)]="searchTerm" placeholder="Název potraviny"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="searchFood()"><b>Vyhledat</b></ion-button>

  <ion-card *ngIf="foodInfo">
    <ion-card-header>
      Informace o potravině
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

</ion-content>
