<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vyhledávání potraviny</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input [(ngModel)]="searchTerm" placeholder="Název potraviny"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="searchFood()"><b>Vyhledat</b></ion-button>

  <ion-card *ngIf="foodInfo">
    <ion-card-header>
      Informace o potravině
    </ion-card-header>
    <ion-card-content>
      <p><strong>Název:</strong> {{ foodInfo.name }}</p>
      <p><strong>Kalorie:</strong> {{ foodInfo.calories }} kcal</p>
      <p><strong>Bílkoviny:</strong> {{ foodInfo.protein_g }} g</p>
      <p><strong>Sacharidy:</strong> {{ foodInfo.carbohydrates_total_g }} g</p>
      <p><strong>Tuky (celkem):</strong> {{ foodInfo.fat_total_g }} g</p>
      <p><strong>Tuky (nasycené):</strong> {{ foodInfo.fat_saturated_g }} g</p>
      <p><strong>Vláknina:</strong> {{ foodInfo.fiber_g }} g</p>
      <p><strong>Sacharidy (cukr):</strong> {{ foodInfo.sugar_g }} g</p>
      <p><strong>Sůl:</strong> {{ foodInfo.sodium_mg }} mg</p>
      <p><strong>Cholesterol:</strong> {{ foodInfo.cholesterol_mg }} mg</p>
      <p><strong>Velikost porce:</strong> {{ foodInfo.serving_size_g }} g</p>
      <p><strong>Kalium:</strong> {{ foodInfo.potassium_mg }} mg</p>
    </ion-card-content>
  </ion-card>

</ion-content>
