<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About this app</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>What is this app?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <br>
      <p>
        Welcome to our user-friendly calorie-tracking app! 
        The "Today" card gives you an overview of daily calories and nutrients. 
        Head to the "Find" tab to effortlessly log your meals. On the "BMR" card, calculate your Basal Metabolic Rate for personalized calorie goals.
         Stay mindful and enjoy the journey to a healthier you!</p>
        <br>
        <p><i>Disclaimer: This app is for educational purposes only. The information provided is not intended to be a substitute for professional medical advice, diagnosis or treatment. 
          Never disregard professional medical advice, or delay in seeking it, because of something you have read on this website. 
          Never rely on information on this website in place of seeking professional medical advice.</i></p>
        <br>
          <p>Created by: <br>
            <a href="https://github.com/Vojtanooo">Vojtěch Janeček</a> <br>
    </ion-card-content>
  </ion-card>
</ion-content>
