<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About this app</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>What is this app?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <br>
      <p>Welcome to our user-friendly application designed to help you keep track of your daily calorie consumption. 
        The "Today" card provides you with a comprehensive overview of the calories and essential nutrients you've consumed throughout the day. 
        For added convenience, head over to the "Find" tab, where you can effortlessly discover and log the various foods you've enjoyed today. 
        This feature allows you to maintain a detailed record of your dietary choices, making it easier for you to stay mindful of your nutritional goals. 
        Enjoy the journey to a healthier you with our calorie-counting companion!</p>
        <br>
        <p>Disclaimer: This app is for educational purposes only. The information provided is not intended to be a substitute for professional medical advice, diagnosis or treatment. 
          Never disregard professional medical advice, or delay in seeking it, because of something you have read on this website. 
          Never rely on information on this website in place of seeking professional medical advice.</p>
        <br>
          <p>Created by: <br>
            <a href="https://github.com/Vojtanooo">Vojtěch Janeček</a> <br>
    </ion-card-content>
  </ion-card>
</ion-content>
